<div class="card">
    <div style="color: black;" class="card-header">
        Sobre mí
    </div>
    <div class="card-body">
        <h5 class="card-title">Francisco José Sánchez Romero</h5>
        <p class="card-text">Aplicación desarrollada usando Angular 9 y la API de Spotify.</p>
        <a href="https://www.twitter.com/chaanchess" target="_blank" type="button" class="btn btn-primary mr-2"><i class="fab fa-twitter pr-1"></i> Twitter</a>
        <a href="https://es.linkedin.com/in/francisco-jos%C3%A9-s%C3%A1nchez-romero" target="_blank" type="button" class="btn btn-info mr-2"><i class="fab fa-linkedin-in pr-1"></i> Linkedin</a>
        <a href="https://www.github.com/Chaanchess" target="_blank" type="button" class="btn btn-dark"><i class="fab fa-github pr-1"></i> Github</a>
    </div>
</div>